
game-object-background = #000
game-object-color = #999
game-object-notvisible-color = darken(game-object-color, 70%)
game-object-visible-background = #473600

game-object-player-color = #f00
game-object-player-background = #000

game-object-tree-background = #00bb00
game-object-tree-color = #fff

game-object-rock-color = game-object-background
game-object-rock-background = game-object-background

/*
	Sidebar
*/
#game-playing-sidebar 
	border-left 1px solid white

/*
	All Game Objects
*/
.game-screen
	color game-object-color
	background-color game-object-background

.game-object 
	color game-object-color
	background-color game-object-background

.game-object.notvisible
	color game-object-notvisible-color

.game-object.visible
	background-color game-object-visible-background
	//color: yellow;
	lights()
	
.game-object-tree
	color game-object-tree-color
	background-color game-object-tree-background
	
.game-object-rock
	color game-object-rock-color
	background-color game-object-rock-background
	
.game-object-player
	color game-object-player-color
	background-color game-object-player-background