
game-object-background = #000
game-object-color = #999
game-object-notvisible-color = darken(game-object-color, 70%)
game-object-visible-background = #473600

game-object-player-color = #f00
game-object-player-background = #000

game-object-tree-background = #00bb00
game-object-tree-color = #fff

game-object-rock-color = game-object-background
game-object-rock-background = game-object-background

/*
	Sidebar
*/
#game-playing-sidebar 
	border-left 1px solid white

/*
	All Game Objects
*/
.game-screen
	color game-object-color
	background-color game-object-background
	
.game-object.highlight
	background-color yellow

.game-object-player
	color game-object-player-color
	background-color game-object-player-background

/*
	Plane specific
*/
#game
	.game-screen-world 
		.notvisited
			visibility visible

/*
	Tile Types
*/
.game-screen-world			
	.game-object
		color: #fff
		background-color #fff
		
	.game-object-player
		background-color transparent
		color red
		
	.game-object-ice 
		background-color #fff
		color fg(@background-color, 10%)

	.game-object-shallowsea 
		background-color #2743C2
		color fg(@background-color, 10%)
		
	.game-object-sea 
		background-color #142EA6
		color fg(@background-color, 10%)
		
	.game-object-deepsea 
		background-color #00198A
		color fg(@background-color, 10%)
		
	.game-object-frozenland
		background-color #eef 
		color fg(@background-color, 10%)
		
	.game-object-drymountain 
		background-color #00198A
		color fg(@background-color, 10%)
		
	.game-object-snowymountain 
		background-color #eee
		color fg(@background-color, 10%)
		
	.game-object-raintundra 
		background-color rgb(32,128,196)
		color fg(@background-color, 10%)
		
	.game-object-wettundra 
		background-color rgb(64,128,144)
		color fg(@background-color, 10%)
		
	.game-object-moisttundra 
		background-color rgb(96,128,128)
		color fg(@background-color, 10%)		

	.game-object-drytundra 
		background-color rgb(128,128,128)
		color fg(@background-color, 10%)
		
	.game-object-rainforest 
		background-color rgb(32,192,192)
		color fg(@background-color, 10%)
		
	.game-object-wetforest 
		background-color rgb(64,160,144)
		color fg(@background-color, 10%)
		
	.game-object-moistforest 
		background-color rgb(96,160,128)
		color fg(@background-color, 10%)
		
	.game-object-dryforest 
		background-color rgb(128,224,128)
		color fg(@background-color, 10%)

	.game-object-verydryforest
		background-color rgb(160,255,128) 
		color fg(@background-color, 10%)
		
	.game-object-dryscrub 
		background-color rgb(128,160,128)
		color fg(@background-color, 10%)
		
	.game-object-desertscrub 
		background-color rgb(224,255,128)
		color fg(@background-color, 10%)
		
	.game-object-steppe 
		background-color rgb(192,192,128)
		color fg(@background-color, 10%)
		
	.game-object-woodland 
		background-color rgb(192,255,128)
		color fg(@background-color, 10%)
		
.game-screen-dungeon	
	.game-object 
		color game-object-color
		background-color game-object-background

	.game-object.notvisible
		color game-object-notvisible-color

	.game-object.visible
		background-color game-object-visible-background
		lights()
		
	.game-object-tree
		color game-object-tree-color
		background-color game-object-tree-background
		
	.game-object-rock
		color game-object-rock-color
		background-color game-object-rock-background