@-moz-keyframes pulselight {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.85;
  }
  20% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.85;
  }
}
@-webkit-keyframes pulselight {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.85;
  }
  20% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.85;
  }
}
@-o-keyframes pulselight {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.85;
  }
  20% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.85;
  }
}
@keyframes pulselight {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.85;
  }
  20% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.85;
  }
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin: auto auto;
}
pre {
  margin: 0;
  padding: 0;
}
.center {
  margin: auto auto;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#game-wrapper {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
#game-wrapper pre {
  position: absolute;
}
#game-wrapper .game-screen {
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#game-wrapper .game-screen .game-object {
  vertical-align: middle;
  text-align: center;
}
#game-wrapper .game-screen .visited {
  visibility: visible;
}
#game-wrapper .game-screen .notvisited {
  visibility: hidden;
}
#game-wrapper {
  color: #999;
  background-color: #000;
}
.game-object {
  color: #999;
  background-color: #000;
}
.game-object.notvisible {
  color: #4d4d4d;
}
.game-object.visible {
  background-color: #473600;
  -webkit-animation: pulselight 5s linear infinite alternate;
  -moz-animation: pulselight 5s linear infinite alternate;
  -o-animation: pulselight 5s linear infinite alternate;
  animation: pulselight 5s linear infinite alternate;
}
.game-object-tree {
  color: #fff;
  background-color: #0b0;
}
.game-object-rock {
  color: #000;
  background-color: #000;
}
.game-object-player {
  color: #f00;
  background-color: #000;
}
